.container {
    background:#EEE;
    border:1px solid grey;
    border-radius: 8px;
    box-shadow: 2px 2px 2px grey;
    display: block;
    margin:4px auto;
    max-width: 250px;
    text-align: center;
}

.output-window{    
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    text-align: right;
    width: 100%;
}

.buttons {
    background-color:white;
    border:1px solid grey;
    border-radius: 4px;
    display: block;
    width:100%;
    &-list{
        box-sizing: border-box;
        display: inline-block;
        list-style-type: none;
        text-align: center;
        width:21%;
    }
}