.container {
    border:1px solid pink;
    display: block;
    margin:0 auto;
    max-width: 360px;
    text-align: center;
    width:90%;
}

.buttons {
    display: block;
    width:100%;
    &-list{
        box-sizing: border-box;
        display: inline-block;
        list-style-type: none;
        text-align: center;
        width:28%;
    }
}