$spaceamounts: (
  0: 0,
1: .19385,
  2: .23257,
  3: .27908,
  4: .3349,
  5: .40188,
  6: .48225,
  7: .5787,
  8: .69444,
  9: .83333,
  10: .996
);

$sides: (top, right, bottom, left, all); // Leave this variable alone

$color-list: (
  red:   #f00,
  green: #0f0,
  blue:  #00f,
  grey:  #CCC
);

$font-sizes: (
  small: 12px,
  medium: 16px, 
  large: 20px, 
  x-large: 24px, 
  xx-large: 32px
);

@mixin modifiers($map, $attribute, $prefix: '.', $separator: '-', $base: 'base') {
  @each $key, $value in $map {
    &#{if($key != $base, #{$prefix}#{$key}, '')} {
      @if type-of($value) == 'map' {
        @include modifiers($value, $attribute, $separator);
      }
      @else {
        #{$attribute}: $value;
      }
    }
  }
}

@include modifiers ($font-sizes,'font-size');

@each $space in $spaceamounts {
  @each $side in $sides {
 
    @if $side == 'all' {
      .m#{nth($space, 1)} {
        margin:  #{nth($space, 2)}rem; 
      }

      .p#{nth($space, 1)} {
        padding: #{nth($space, 2)}rem;
      }
    } @else {
      .m#{str-slice($side, 0, 1)}-#{nth($space, 1)} {
        margin-#{$side}: #{nth($space, 2)}rem;
      }

      .p#{str-slice($side, 0, 1)}-#{nth($space, 1)} {
        padding-#{$side}: #{nth($space, 2)}rem;
      }
    }
  }
}

@each $value in $color-list {
  .#{nth($value, 1)} {
    color: nth($value, 2);
  }

  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .border-#{nth($value, 1)} {
    border-color: nth($value, 2);
  }
}